:root{
    font-size: 62.5%;

    --primary: #0cd664;
    --primary-dark: #0ca14b;
    --primary-transp: hsla(145, 100%, 42%, 0.302);
    --paragraph: #dbdbdb;
    --paragraph-white:#F7F9F9;
    --header:#f7f9f9e8;
    --gray: #8b8989;
    --light-gray: #2e353f;
    --background: #1f262f;
    --background-black:#121212;

    --hero-h1: min (75rem , 100%);
    --header-height: 7rem;
}

body,
html{
    width: 100%;
    height: 100%;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--paragraph);

    background-color: var(--background);
    overflow: overlay;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
}

a:hover,
h1.text-uppercase,
h2.text-uppercase,
h3.text-uppercase,
h4.text-uppercase,
h5.text-uppercase,
h6.text-uppercase,
.green{
    color: var(--primary);
}

a{
    transition: .3s;
    color: var(--primary-dark);
}

.badge{
    background-color: var(--primary-dark) !important;
}

section:not(#footer) {
    padding-bottom: 4rem;
    padding-top: calc(var(--header-height) + 4rem);
}

.bg{
    height: var(--header-height);
    background-color: var(--header);
    z-index: -1;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    -moz-backdrop-filter: blur(1.5px);
}

header.container{
    z-index: -1;
    height: var(--header-height);
    padding-inline: 2.4rem;
}

header.fixed-top{
    z-index: 1 !important;
}

.navbar-brand img{
    width: 8rem;
}

.nav-link{
    color: var(--background);
    font-size: 1.8rem;
}

.nav-link:hover{
    color: var(--background);
    font-weight: 700;
}

.container{
    padding-inline: 2.4rem;
}

#hero{
    width: 100%;
    height: 100vh;
}

#hero video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

#hero .texture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background: url(../hero/texture.png);
    filter: opacity(30%);
}

#hero::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.5);
}

#hero .hero__content,
.logo__white,
.hero__contentDesktop{
    z-index: 20;
}

.logo__black{
    width: 13rem;
    position: absolute;
    top: 1vh;
    left: 15vh;  
}

.hero__contentDesktop,
.logo__white{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.logo__white{
    width: 15rem;
    top: 48rem;  
}


.hero__contentDesktop{
    width: min(75rem,100%);
    top: 60rem;
}

.hero__contentDesktop h1{
    color: white;
    font-weight: 100;
}

.hero__contentDesktop svg path{
    
    fill: var(--primary-dark);
}

.hero__contentDesktop svg{
    width: 5rem;
}

.hero__contentDesktop svg:hover,
.hero__contentDesktop svg:hover path{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

        fill:var(--primary);   
}

.card {
    width: min(30rem,100%);
    float: left;
    margin-bottom: 2rem;
    
    background: var(--paragraph-white);
    color: var(--light-gray);
}

.card-body .btn-primary,
.modal-footer .btn-secondary{
    font-size: 1.6rem;
}

.twitter-tweet-rendered{
    width: min(37rem,100%) !important;
}

.modal.show .modal-dialog{
    color: #212529;
    text-align: left;
}

.accordion-button:not(.collapsed){
    color: var(--primary-dark);
    background-color: #e1ffed;
}

.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem hsla(145, 100%, 42%, 0.302);
}

#about p{
    text-align: left;
}

#about h3{
    margin-top: 2rem;
}

#footer{
    background-color: var(--paragraph-white);
    color: var(--background);
}

#footer a{
    text-decoration: none;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (min-width:1024px) {
    .card img{
        transition: all .5s;
        border-radius: .4rem;
    }
    
    .card img:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}
